@{
    ViewBag.Title = "AboutUs";
}

<div id="content">
    <div class="ic"></div>
    <div class="container">
        <div class="row">
            <article class="span8">
                <div class="inner-1">
                    <div class="block-slogan">
                        <ul class="list-blog">
                            <li>
                                <h2>Frequently asked questions</h2>

                                <div class="clear"></div>
                                <img alt="" src="img/page4-img1.jpg">
                                <p>Prothom Surjo began its mission on 8th April 2010 from a street beside The Aziz Super Market, Paribug in Dhaka, Bangladesh.</p>
                                <p>It is a non-governmental, non-profit, non-sectarian voluntary organization. Its aim is to provide support services of different kinds to the underprivileged street children of Dhaka city.</p>
                                <p>We are in our organization, working for the development of the street children of Bangladesh, especially in Dhaka city.</p>
                            </li>


                        </ul>
                    </div>
                </div>
            </article>
            <article class="span4">

                @*<h3>What is Prothom Surjo?</h3>
                           <p>
                               Prothom Surjo is a self encouraged and voluntary type of organization of some enthusiastic and innovative youths of Bangladesh dedicated towards helping the underprivileged street children of Bangladesh.
                    We hope to break the cycle of unconsciousness and poverty through the education.
                           </p>

                           <h3>What was Prothom Surjo’s first project?</h3>
                           <p>The first project that Prothom Surjo was initiated with schooling to street children.</p>

                           <h3>What is your ultimate goal?</h3>
                           <p>To reach countrys every deprived and vulnerable street children and ensure child rights and bring them into the main stream of the society.</p>

                           <h3>What is the main objective of Prothom Surjo?</h3>
                           <p>
                               Prothom Surjo aims to break the cycle of unconsciousness and poverty among the underprivileged class by establishing education among them,
                    and as a result providing them with the means to bring them out from below the poverty line.
                           </p>*@

                <h3>
                    What was Prothom Surjo's first project?
                </h3>
                <p>
                    Prothom Surjo’s first project involved setting up street-side schools for children by offering food as an incentive to encourage attendance. We began on 8th April 2010 from a street beside The Aziz Super Market, Paribug in Dhaka, Bangladesh.
                </p>

                <h3>
                    What is Prothom Surjo’s ultimate goal?
                </h3>
                <p>
                    To reach as many of the country’s deprived and vulnerable street children as possible, and to ensure that they are offered safety and some form of education. Our ultimate goal is to integrate them into mainstream society and to have them join the workforce in whatever way they choose.
                </p>

                <h3>
                    What kind of organization is Prothom Surjo ?
                </h3>
                <p>
                    It is a registered charitable, nonprofit organization:
                    Legal status : Registered under Society Act XXI of 1860
                    Registration no. : S - 11492
                </p>

                <h3>
                    How does the funding work for Prothom Surjo ?
                </h3>
                <p>
                    Prothom Surjo works on the input from volunteers and individual donors. The funds are divided between the two schools and the shelter we have for young girls.
                </p>

                <div class="wrapper">
                </div>
            </article>
        </div>
    </div>
</div>

