@{
    ViewBag.Title = "DonorList";
}

<div id="content">
    <div class="ic"></div>
    <div class="container">
        <div class="row">
				
				
            <article class="span8">
                <div class="inner-1">
                    <div class="block-slogan">
                        <ul class="list-blog">
                            <li>
                                <h2>Our Supporting Donors</h2>

                                <div class="clear"></div>
                                <img alt="" src="img/Japanese donors.jpg">
																<img alt="" src="img/Japanese donors2.jpg">
                                @*<p>Prothom Surjo has received kind donations from supporting Japanese friends for Prothom Surjo's shelter home project named "Amader Thikana". We would like to heartily thank and congratulate our donors for standing by us. We will definitely strive to utilize these donations for the betterment of the street children of Bangladesh.</p>*@
                                <p>We would like to heartily thank our donors for standing by us. We strive to utilize these donations for the betterment of the street children of Bangladesh. 
                                Some notable donors include: (list of top 5 which we can get from the guy)</p>
                            </li>


                        </ul>
                    </div>
                </div>
            </article>
						
						
						
            <article class="span4">

                <h3>What is Prothom Surjo?</h3>
                <p>
                    Prothom Surjo is a self encouraged and voluntary type of organization of some enthusiastic and innovative youths of Bangladesh dedicated towards helping the underprivileged street children of Bangladesh. 
         We hope to break the cycle of unconsciousness and poverty through the education.
                </p>

                <h3>What was Prothom Surjo’s first project?</h3>
                <p>The first project that Prothom Surjo was initiated with schooling to street children.</p>

                <h3>What is your ultimate goal?</h3>
                <p>To reach countrys every deprived and vulnerable street children and ensure child rights and bring them into the main stream of the society.</p>

                <h3>What is the main objective of Prothom Surjo?</h3>
                <p>
                    Prothom Surjo aims to break the cycle of unconsciousness and poverty among the underprivileged class by establishing education among them, 
         and as a result providing them with the means to bring them out from below the poverty line.
                </p>


                <div class="wrapper">
                </div>
            </article>
        </div>
    </div>
</div>

