@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="span12"> 
        <!--============================== slider =================================-->
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="img/slide-1.jpg" alt="" > </li>
            <li> <img src="img/slide-2.jpg" alt="" > </li>
            <li> <img src="img/slide-3.jpg" alt="" > </li>
            <li> <img src="img/slide-4.jpg" alt="" > </li>
            <li> <img src="img/slide-5.jpg" alt="" > </li>
          </ul>
        </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>Welcome!</h2>
              <div>
            <p> Prothom Surjo is a self encouraged and voluntary type of organization of some enthusiastic and innovative youths of Bangladesh dedicated towards helping the underprivileged street children. We hope to break the cycle of unconsciousness and poverty through the education.</p>
          </div>
        </div>
        </div>
    </div>
  </div>
      
      <!--============================== content =================================-->
      
    <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
        <div class="row">
            <ul class="thumbnails thumbnails-1">
            <li class="span3">
              <div class="thumbnail thumbnail-1">
                <h3>Few words </h3>
                <img  src="img/page1-img1.jpg" alt="">
				<h5>Street children of Bangladesh</h5>
				<h3></h3>
				<img  src="img/page1-img3.jpg" alt="">
				<h5>Street children of Bangladesh</h5>
                
              </div>
            </li>
            <li class="span5">
              <div class="thumbnail thumbnail-1">
				<h3></h3>
              
                <section> 
					  <strong>Deleniti atque corrupti quos</strong>

					  <br/>
					  <p>Prothom Surjo Foundation is a not-for-profit voluntary organization founded with the aims to help deprived street children by serving fundamental human rights. 
					  The activity of the organization assists children to become a true human being. The open street education has motivated a good number of street children towards 
					  a positive aspect in their life. They are now getting trained to fight with harsh reality what they used to face every single day.</p>
					                   
					  <p>Thousands of children on the streets of Bangladesh are being denied their rights according to the United Nations Convention on the Rights of the Child (UNCRC),
					   which recognizes that every child is entitled to a standard of living adequate for the childs physical, mental, spiritual, moral and social development.
					   Children living on the streets are particularly vulnerable to abuse and exploitation. </p>
					   
                      <p>Children who live on the street are also vulnerable to other forms of exploitation and frequently find themselves the victims of sexual abuse and 
                      at risk of HIV/AIDS infection, physical torture, and trafficking. Extensive criminal networks make substantial profits by engaging children in commercial
                                      sex work, smuggling, stealing, and the distribution of drugs and weapons. Without appropriate care and continually struggling to survive, many children have no other option. 
					   </p>
					  <p>Children living on the streets are often abused or oppressed by police, who frequently beat them, ask for bribes, take away their valuables and implicate them in false charges.
					   Ordinary members of society stigmatize these children, which further isolates them from the general community.</p>
					  <!--==<a href="#" class="btn btn-1">Read More</a> </section>====-->
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail thumbnail-1">
                <h3>Organization details</h3>
                <img  src="img/page1-img2.jpg" alt="">
                <section>
					  <strong>At vero eos et accusamus et iusto </strong>
                      <p>Name : Prothom Surjo Foundation</br>
						 Type : Not-for-profit, non-gov.t, voluntary and charitable</br>
						 Legal status : Registered under Society Act XXI of 1860</br>
						 Registration no. : S - 11492</br>
						 Year of Reg. : June 2012</br>
						 Address	: 40, Bir Uttam C.R. Datta Road</br>
						 4th floor</br>
                         Dhaka- 1000</br>
                         Bangladesh
                      </p>
                       <!--==<a href="#" class="btn btn-1">Read More</a> ====-->
			    </section>
              </div>
            </li>
         
          </ul>
            </div>
      </div>
        </div>
			
    <div class="container">
        <div class="row">


      </div>
    </div>
  </div>
</div>

