@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="span12"> 
        <!--============================== slider =================================-->
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="img/slide-1.jpg" alt="" > </li>
            <li> <img src="img/slide-2.jpg" alt="" > </li>
            <li> <img src="img/slide-3.jpg" alt="" > </li>
            <li> <img src="img/slide-4.jpg" alt="" > </li>
            <li> <img src="img/slide-5.jpg" alt="" > </li>
          </ul>
        </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>Welcome!</h2>
              <div>
            <p>Prothom Surjo is a volunteer-based organization started by enthusiastic individuals, dedicated towards helping underprivileged street children. We hope to break the cycle of poverty through education.</p>
          </div>
        </div>
        </div>
    </div>
  </div>
      
      <!--============================== content =================================-->
      
    <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
        <div class="row">
            <ul class="thumbnails thumbnails-1">
            <li class="span3">
              <div class="thumbnail thumbnail-1">
                <h3>About Us</h3>
                <img  src="img/page1-img1.jpg" alt="">
				<h5>Street children of Bangladesh</h5>
				<h3></h3>
				<img  src="img/page1-img3.jpg" alt="">
				<h5>Street children of Bangladesh</h5>
                
              </div>
            </li>
            <li class="span5">
              <div class="thumbnail thumbnail-1">
				<h3></h3>
              
                <section> 
					  <strong>Deleniti atque corrupti quos</strong>

					  <br/>
					  <p>Prothom Surjo  is a nonprofit organization founded to help vulnerable street children by providing basic services such as education and shelter. The goal of the organization is to provide these children with a means to set themselves up for success. Already, many children have been given a means to find their place in society, and the number is still growing.</p>
					                   
					  <p>Thousands of children on the streets of Bangladesh are being denied their rights according to the United Nations Convention on the Rights of the Child (UNCRC),
					   which recognizes that every child is entitled to a standard of living adequate for the childs physical, mental, spiritual, moral and social development.
					   Children living on the streets are particularly vulnerable to abuse and exploitation. </p>
					   
                      <p>Furthermore, children living on the streets are particularly vulnerable to various forms of abuse and exploitation. Children are often subject to excruciating physical torture, trafficking, and sexual abuse. Street children are the primary target for most criminal organizations in their illegal profiting activities. In addition, these children live in fear of severe police brutality. According to National Center for Biotechnology Information, in 1995, findings revealed that 21% of the children were in the labour force although the Bangladeshi laws prohibited child labour. The prevalence of child abuse and exploitation was widespread in Bangladeshi villages as 2.3% of all children were physically abused, 2% were financially exploited, 1.7% were forced into drug or sex-related crime, and 3% were forced to work for long hours. These numbers are inexcusable for a population of over 150 million.</p>

					  <p>Despite development, most families still do not have the means to fund even elementary education for their children. According to a survey carried out by the British Council in early 2015, 43% of the population live on less than a dollar a day, and more than 75% live on less than two dollars. We exist to ensure that children are granted what should be a universal right: education, to give them a chance for the success that they deserve.</p>
					  <!--==<a href="#" class="btn btn-1">Read More</a> </section>====-->

                        <p>
                            “The world is a dangerous place to live; not because of the people who are ‘evil,’ but because of the people who don't do anything about it.”
                            -Albert Einstein
                        </p>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail thumbnail-1">
                <h3>Organization details</h3>
                <img  src="img/page1-img2.jpg" alt="">
                <section>
					  <strong>At vero eos et accusamus et iusto </strong>
                      <p>Name : Prothom Surjo Foundation</br>
						 Type : Not-for-profit, non-gov.t, voluntary and charitable</br>
						 Legal status : Registered under Society Act XXI of 1860</br>
						 Registration no. : S - 11492</br>
						 Year of Reg. : June 2012</br>
						 Address	: 40, Bir Uttam C.R. Datta Road</br>
						 4th floor</br>
                         Dhaka- 1000</br>
                         Bangladesh
                      </p>
                       <!--==<a href="#" class="btn btn-1">Read More</a> ====-->
			    </section>
              </div>
            </li>
         
          </ul>
            </div>
      </div>
        </div>
			
    <div class="container">
        <div class="row">


      </div>
    </div>
  </div>
</div>

