@{
    ViewBag.Title = "Mission";
}

<div id="content">
    <div class="ic"></div>
    <div class="container">
        <div class="row">
            <article class="span12">
                <div class="block-slogann">
                    <h2>Mission</h2>
                </div>
                <div>
                    Mission Statement
                </div>
                <p>
                    To Improve the lives of the children under our care by offering safety, education and hope and to raise awareness about their plight globally.
                </p>
            </article>
            <div class="clear"></div>
            <ul class="thumbnails thumbnails-1 list-services">
                <li class="span4">
                    <div class="thumbnail thumbnail-1">
                        <img src="/img/page2-img1.jpg" alt="">
                        <section>
                            <a href="#" class="link-1">
                                @*<h3>Hope</h3>*@
                                <h3>Safety</h3>
                            </a>
                            @*<p>
                                                What I do you cannot do; but what you do, I cannot do.
                                The needs are great, and none of us, including me, ever do great things.
                                But we can all do small things, with great love, and together we can do something wonderful. --- MOTHER TERESA
                                            </p>

                                            <p>
                                                The street children in Bangladeshis capital city Dhaka are living unfeeling life with their bad fated families.
                                They have no idea about what is happiness, how right and wrong differ and what is called life, even what is called soreness.
                                They only have borne to pass a framed life on the roadside slum. They do never hope to watch a dream to know about what is happiness,
                                how right and wrong differs, what is called life!!!
                                            </p>

                                            <p>
                                                But we can all do small things, with great love, and together we can do something wonderful.
                                Lets play your part with Prothom Surjo Foundation, which is an attempt for creating hope for underprivileged street kids.
                                            </p>*@
                            <p>
                                We believe that all children should be given a chance at success and grow up in a loving environment. We offer healthy meals, a place to sleep, activities and the provision of school materials (e.g. books, uniform etc) for the girls currently at our shelter. Our aim is to expand the shelter to accommodate for more vulnerable children.
                            </p>

                        </section>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail thumbnail-1">
                        <img src="img/page2-img2.jpg" alt="">
                        <section>
                            <a href="#" class="link-1">
                                @*<h3>Belief</h3>*@
                                <h3>Education</h3>
                            </a>
                            @*<p>
                                                We believe that all children should be given a chance at success and the gift of love. For the development of the street kids
                                fate education and awareness is must.
                                <p>
                                    We have set an arrangement called Amader School. Which is an attempt for a transformation
                                in the number of truck-down family, including the slum dwellers and roadside footpath dwellers.
                                            </p>

                                            <p>
                                                Our awareness program, guardian meeting and initiation of new policies and procedures will ensure an
                                expected transformation of the target beneficiaries and we believe; we well make that happen!!
                                            </p>*@
                            <p>
                                To give street children the chance of a future, education and awareness is a must. We have set an arrangement called Amader School, which is an attempt to provide basic education for slum and roadside dwellers. Our wider aim is to provide a more broad curriculum: on top of traditional subjects like Bangla, Arabic and Maths, we try to involve them in creative activities like art and dancing.  We also hope to keep them away from crime and drug abuse, as well as give them the opportunity to integrate into mainstream society.
                            </p>
                        </section>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail thumbnail-1">
                        <img src="img/page2-img3.jpg" alt="">
                        <section>
                            <a href="#" class="link-1">
                                @*<h3>Help</h3>*@
                                <h3>Hope</h3>
                            </a>
                            @*<p>Stay beside of the children who are not privileged enough, with education and other possible support, and let them give some hope and keep them away from crime, drug abuse for opening the window for to get into mainstream of the society.  </p>*@
                            <p>
                                What I do you cannot do; but what you do, I cannot do. The needs are great, and none of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful. --- MOTHER TERESA
                            </p>
                            <p>
                                The street children in Bangladesh’s capital city Dhaka are living on the fringe with families who are unable to provide for their basic needs. These children experience life without a childhood;  some have parents and some don’t but even those who do are often neglected. They fend for themselves in the streets and are often the targets of organized sex and drug related gangs. They grow up in slums and that is usually where their dreams begin and end.  Our hope is that by doing small things with a lot of love, together we can do something wonderful.  We hope that you will support The Prothom Surjo Foundation, and help us with our goals for these children.
                            </p>
                        </section>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>